:root {
    --main: #000;
    --cream: #F2EFE3;
    --tan: #DBC7B1;
    --maroon: #603A40;
}

/* BASE STYLES */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cream);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p, li {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.6;
}

a {
    color: var(--main);
    text-decoration: none;
}

a:hover {
    color: var(--maroon);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.padding-y {
    padding: 10px 0;
}

.page-header {
    text-align: center;
}

.hero-section, .about-section, .services-section, .product-section {
    box-shadow: 0px 2px 0px 0px rgb(219,199,177, .1);
}

.button {
    background-color: var(--maroon);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 15px;
    color: white;
}

.button:hover {
    color: #fff;
    background-color: #2d1b1d;
}

/* HEADER */

header {
    background-color: var(--tan);
    padding: 0 1rem;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 1rem;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--main);
    margin: 2px 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    text-transform: uppercase;
}

.logo img {
    max-height: 40px;
    max-width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 1rem;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--maroon);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 15px;
}

.dropdown-content a {
    color: #fff;
    padding: 5px 0;
}

.dropdown:hover .dropdown-content {
    display: grid;
}

/* HERO */

.hero-section {
    padding: 6rem 0;
}

.hero-section, .about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-content {
    width: 50%;
    padding-right: 39px;
}

.hero-title {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.hero-img {
    width: 50%;
}

/* ABOUT **/
.about-section {
    padding-bottom: 6rem;
}

.about-content {
    width: 65%;
    padding-right: 80px;
}

.title {
    font-size: 3rem;
}

.about-img {
    width: 35%;
}

/* CALLS TO ACTION */

.services-section .title, .product-section title {
    text-align: center;
}

.cta-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;
}

.cta {
    flex: 0 0 calc(50% - 1rem);
    color: #fff;
    position: relative;
    border: 1px solid #ddd;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.cta:hover {
    transition: .2s;
    transform: scale(1.1);
    cursor: pointer;
}

.cta h2, .cta p {
    position: relative;
}

.cta h2 {
    margin-top: 0;
}

.cta p {
    margin-bottom: 1.5rem;
}

.cta-1 {
    background-image: url('../imgs/wedding.jpg');
}

.cta-2 {
    background-image: url('../imgs/anniversary.jpg');
}

.cta-3 {
    background-image: url('../imgs/funeral.jpg');
}

.cta-4 {
    background-image: url('../imgs/special.jpg');
}

.cta-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay color */
}

/* PRODUCTS */

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 4rem;
    padding-bottom: 6rem;
}

.product-item {
    flex: 0 0 calc(25% - 1rem);
    background-color: var(--tan);
    border: 1px solid #ddd;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.product-item img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* DIVIDER */

.divider-section {
    position: relative;
}

.divider-img {
    background-image: url('../imgs/divider.jpg');
    height: 430px;
}

/* CONTACT SECTION */

.contact-section, .about-section {
    padding-top: 6rem;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 6rem;
}

.contact-title {
    flex-basis: 354px;
}

.contact-title h3.title {
    margin: 0;
}

.contact-info {
    flex: 0 0 calc(20% - 1rem);
}

.contact-info p {
    margin: 0;
}

.contact-headers {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.contact-info .title {
    margin: 0;
}

/* FOOTER */

.policies a {
    color: #fff;
}

.policies a:hover {
    color: var(--tan);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    bottom: 0;
}

/* SHOP PAGE */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.product-item {
    flex: 0 0 calc(50% - 1rem);
    background-color: var(--tan);
    border: 1px solid #ddd;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.product-item img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* PRODUCT PAGE */
.product-details {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.product-image {
    flex: 0 0 40%;
}

.product-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-info {
    flex: 0 0 58%;
    padding-left: 2rem;
}

.product-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-price {
    font-size: 1.5rem;
    color: var(--maroon);
    margin-bottom: 1rem;
}

.product-description {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.product-quantity {
    margin-bottom: 1rem;
}

.product-quantity label {
    font-size: 1.25rem;
}

.product-quantity input {
    width: 50px;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* CONTACT PAGE */

.contact-page {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.contact-page-details {
    flex: 0 0 48%;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-info {
    margin-bottom: 2rem;
}

.contact-form {
    flex: 0 0 48%;
}

.contact-form form {
    background-color: var(--tan);
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 8px;
}

.contact-form label {
    font-size: 1.25rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: var(--maroon);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 768px) {
    header {
        padding: 0.5rem;
        width: 100%;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: var(--tan);
        padding: 1rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    .container {
        padding: 1rem;
    }

    .hero-section, .about-section, .services-section, .product-section {
        flex-direction: column;
        align-items: center;
    }

    .hero-content, .about-content {
        width: 100%;
        padding-right: 0;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-img, .about-img {
        width: 100%;
        margin-top: 2rem;
    }

    .cta-section {
        flex-direction: column;
    }

    .cta {
        width: 100%;
        margin: 0 auto 2rem;
    }

    .products {
        justify-content: center;
    }

    .product-item {
        flex: 0 0 calc(100% - 1rem);
    }

    .divider-img {
        height: 300px;
    }

    .contact-details {
        justify-content: center;
        align-items: center;
    }

    .contact-title, .contact-info {
        flex-basis: 100%;
        text-align: center;
    }

    .product-details {
        flex-direction: column;
    }

    .product-info {
        padding-left: 0;
        margin-top: 1.5rem;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-details, .contact-form {
        flex-basis: 100%;
    }

    footer .logo {
        justify-content: center;
    }
}
